body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(https://yogurtsmootie.github.io/html/img/bg7.jpg);
}

.container {
  width: 100%;
  height: 98%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 45px;
  padding-top: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 1800px;
  height: 100%;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

img {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 20px;
  outline: solid #e7d241;
}

img:hover {
  transform: scale(1.15);
}
