/* 폰트 */
@font-face {
  font-family: "Cafe24Meongi-B-v1.0"; /* 로고 폰트 */
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard-Regular"; /* 본문 폰트 */
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

/* 전체 */
body {
  background-image: url(https://yogurtsmootie.github.io/html/img/bg1.jpg); /* 배경 이미지 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  font-family: "Pretendard-Regular";
  font-size: 13px;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
}

ul {
  list-style: none; /* 목록 스타일 제거 */
}

#container {
  margin: auto; /* 중앙 정렬 */
  width: 1800px;
  height: 900px;
}

/* 헤더 스타일 */
header {
  width: 100%;
  max-width: 1800px;
  height: 100px;
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: space-between; /* 여백을 균등하게 분배 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 20px;
  margin: 0 auto; /* 수평 중앙 정렬 */
  box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
}

/* 로고 스타일 */
#logo {
  width: 30%;
  height: 100%;
  display: flex; 
  align-items: center; /* 로고 텍스트 수직 중앙 정렬 */
  margin: 10px 0 0 0;
  padding-left: 20px;
}

#logo > a {
  display: flex; /* Flexbox 레이아웃 */
}

/* 로고 애니메이션 */
@keyframes lotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#lg1,
#lg2,
#lg3,
#lg4 {
  font-family: "Cafe24Meongi-B-v1.0";
  font-size: 6.5em;
  color: #e7d241;
  text-shadow: 5px 5px 0px white, -5px -5px 0px white, 5px -5px 0px white, -5px 5px 0px white; /* 글자 그림자 */
}

#lg1 {
  animation: lotate 4.5s normal;
}

#lg2 {
  animation: lotate 3.5s reverse;
}

#lg3 {
  animation: lotate 3s normal;
}

#lg4 {
  animation: lotate 4s alternate-reverse;
}

/* 네비게이션 스타일 */
nav {
  display: flex; /* Flexbox 레이아웃 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  width: 70%;
}

#topMenu {
  display: flex; /* Flexbox 레이아웃 */
  list-style: none; /* 목록 스타일 제거 */
  padding: 0;
  margin: 0;
}

#topMenu > li {
  margin: 0 20px; /* 메뉴 간의 좌우 여백 */
  position: relative; /* 서브 메뉴 위치 조정 */
}

#topMenu > li > a {
  display: block; /* 블록 요소로 변경 */
  color: rgb(2, 7, 15);
  font-weight: 600;
  font-size: 16px;
  padding: 20px 10px;
}

#topMenu > li > a:hover {
  color: #ffffff;
}

/* 서브 메뉴 스타일 */
#topMenu > li > ul {
  display: none; /* 기본적으로 숨김 */
  position: absolute; /* 절대 위치 */
  width: 100px;
  left: -18px; /* 왼쪽 위치 */
  background: rgba(255, 255, 255, 0.6);
  z-index: 10; /* 보여지는 순서 설정 */
  border-radius: 15px;
}

#topMenu > li > ul > li {
  padding: 10px;
  text-align: center;
}

#topMenu > li > ul > li > a {
  font-size: 14px;
  color: rgb(2, 7, 15);
}

#topMenu > li:hover > ul {
  display: block; /* 마우스 오버 시 서브 메뉴 표시 */
}

#topMenu > li > ul > li > a:hover {
  color: #7bac5a;
  font-weight: bold;
}

/* 본문 - 아이프레임 스타일 */
#contents {
  width: 100%;
  height: 773px;
  display: flex; /* Flexbox 레이아웃 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
}

#main {
  width: 1800px;
  height: 100%;
  border: none; /* 아이프레임 테두리 제거 */
}

/* 푸터 스타일 */
footer {
  width: 100%;
  max-width: 1800px;
  height: 80px;
  margin: 0 auto; /* 수평 가운데 정렬 */
  display: flex; /* Flexbox 레이아웃 */
  justify-content: space-between; /* 요소 간 여백 균등 분배 */
  align-items: center; /* 수직 중앙 정렬 */
  padding: 0 40px;
}

.sns {
  display: flex; /* Flexbox 레이아웃 */
  justify-content: flex-end; /* 오른쪽 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  opacity: 0.3;
}

.sns > a {
  padding-left: 20px;
}

.sns > a > img {
  width: 40px;
  height: 40px;
}
