  /******************/
  /*      폰트      */
  /******************/
  @font-face {
    font-family: 'Cafe24Meongi-B-v1.0'; /* 멍이 - 로고 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/Cafe24Meongi-B-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Cafe24Moyamoya-Regular-v1.0';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/Cafe24Moyamoya-Regular-v1.0.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'MangoDdobak-B'; /* 망고보드 또박체 */
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Pretendard-Regular'; /* 프리텐다드 */
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  /******************/
  /*      전체      */
  /******************/

  body {background-image: url(https://yogurtsmootie.github.io/html/img/bg1.jpg);} /* 배경 설정 */
  
  * {
    margin:0;   /* 기본 마진 제거 */
    padding:0;   /* 기본 패딩 제거 */
    box-sizing: border-box;   /* 테두리까지 포함 */ 
    font-family: 'Pretendard-Regular';
  }
  a {
    text-decoration:none;  /* 링크 밑줄 제거 */ 
  }
  ul {
    list-style: none;  /* 목록 스타일 제거 */ 
  }
  
  #container {
    margin: auto;  /* 중앙 정렬 */ 
    width:1800;    /* 페이지 전체 너비 */
    height: 900px;  /* 페이지 전체 높이 */ 
  }
  
  /*********************************/
  /* 헤더 영역 - 로고와 내비게이션 */
  /*********************************/
  
  header {
    width: 100%; /* 전체로 설정 */
    max-width: 1800px; /* 최대 너비 */
    height: 100px; /* 고정 높이 */
    display: flex; /* Flexbox 레이아웃 사용 */
    justify-content: space-between; /* 여백을 균등하게 분배 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 0 20px; /* 좌우 패딩 여백 */
    margin: 0 auto;  /* 수평 중앙 정렬 */ 
    box-sizing: border-box; /* 패딩과 테두리를 너비에 포함 */
  }
  
  /* 로고 스타일 */
  #logo {
    width: auto; /* 자동 너비 조정 */
    height: 100%; /* 부모 요소 높이에 맞춤 */
    display: flex;
    align-items: center; /* 로고 텍스트 수직 중앙 정렬 */
    margin: 0; /* 여백 제거 */
  }
  
  #logo a {
    font-family: 'Cafe24Meongi-B-v1.0';
    font-size: 6.5em; /* 로고 글자 크기 */
    color: #f0bf59; /* 글자 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  /* 내비게이션 스타일 */
  nav {
    display: flex; /* Flexbox 사용하여 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    width: auto;  /* 자동 너비 */ 
  }
  
  #topMenu {
    display: flex; /* Flexbox 사용하여 메뉴 항목 가로 배치 */
    list-style: none; /* 목록 스타일 제거 */
    padding: 0; /* 패딩 제거 */
    margin: 0; /* 마진 제거 */
  }
  
  #topMenu > li {
    margin: 0 20px; /* 메뉴 간의 좌우 여백 */
    position: relative; /* 서브 메뉴 위치 조정 */
  }
  
  #topMenu > li > a {
    display: block; /* 블록 요소로 변경 */
    color: rgb(2, 7, 15);
    font-weight: 600; /* 글자 굵기 */
    padding: 20px 10px; /* 패딩 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
    
  #topMenu > li > a:hover {
    color: #ffffff; /* 마우스 오버 시 색상 변경 */
  }
  
  /* 서브 메뉴 스타일 */
  #topMenu > li > ul {
    display: none; /* 기본적으로 숨김 */
    position: absolute; /* 절대 위치 */
    width: 160px; /* 서브 메뉴 너비 */
    left: 0; /* 왼족 정렬 */
    background: rgba(255, 255, 255, 0.6); /* 반투명 배경 */
    z-index: 10;  /* 보여지는 순서 설정 */
    border-radius: 15px;  /* 둥근 모서리 */
  }
  
  #topMenu > li > ul > li {
    padding: 10px; /* 패딩 설정 */
    text-align: center; /* 텍스트 중앙 정렬 */
  }
  
  #topMenu > li > ul > li > a {
    font-size: 14px; /* 글자 크기 */
    color: rgb(2, 7, 15); /* 텍스트 색상 */
    text-decoration: none; /* 링크 밑줄 제거 */
  }
  
  #topMenu > li:hover > ul {
    display: block; /* 마우스 오버 시 서브 메뉴 */
  }
  
  #topMenu > li > ul > li > a:hover {
    color: #f00; /* 마우스 오버 시 글자 색상 변경 */
  }
  
  /**************************************/
  /*   콘텐츠 영역  - 탭 메뉴와 퀵 링크 */
  /**************************************/
  
  #contents{  
    width:100%;   /* 너비 */
    height: 653px; /* 높이 */
    background-color:#f0bf59;  /* 배경색 */
    display: flex; /* 레이아웃 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
  }
  
  iframe {
    width: 1800px; /* 너비 */
    height: 100%; /* 높이 */
    border: none; /* iframe 테두리 제거 */
  }
  
  /******************/
  /*   푸터 영역    */
  /******************/
  
  footer {
    width: 100%; /* 푸터 너비 전체화면 설정 */
    max-width: 1800px; /* 더 큰 최대 너비 */
    height: 150px;  /* 높이 */
    padding: 20px; /* 패딩 설정 */
    margin: 0 auto; /* 수평 가운데 정렬 */
    display: flex; /* 레이아웃 */
    justify-content: space-between; /* 요소 간 여백 균등 분배 */
  }
  
  .sns ul {
    display: flex; /* ul 내부의 li 요소들을 가로로 배치 */
    list-style: none; /* 기본 목록 스타일 제거 */
    margin: 0; /* 마진 제거 */
    padding: 0; /* 패딩 제거 */
    line-height: 150px; /* 라인 높이 설정 */
    opacity: 0.4; /* 투명도 */
    justify-content: flex-end; /* 오른쪽 정렬 */
  }
  
  .sns ul li {
    margin-left: 20px; /* 왼쪽 여백 */
  }
  
  p {
    margin-bottom: 4px; /* 단락 간격 설정 */
    font-size: 13px;
  }
