body {
  margin: 0;
  padding: 0;
  background-image: url(https://yogurtsmootie.github.io/html/img/bg7.jpg);
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

.container {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 1800px;
  max-height: 770px;
}

.right-column,
.left-column {
  height: 770px;
}

.right-column {
  width: 577.5px;
  margin: 0 20px 0 10px;
  padding: 23px 18px 18px 18px;
}

.right-column img {
  border-radius: 30px;
  outline: 5px solid #e7d241;
}

.left-column {
  width: 1180px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.column {
  flex: 3 100 15%;
  padding: 13px 5px 0 0;
}

.column img {
  width: 180px;
  border-radius: 20px;
  outline: 2px solid #e7d241;
}

.column img:hover {
  transform: scale(1.07);
}

.demo {
  opacity: 0.65;
}

.active,
.demo:hover {
  opacity: 1;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  top: 44%;
  user-select: none;
  z-index: 10;
}

.next {
  left: 528px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.next {
  border-radius: 3px 0 0 3px;
}

.prev {
  border-radius: 0 3px 3px 0;
}
