body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.container {
    display: flex;
    height: 653px;
    width: 1800px;
}
.right-column {
    float: left;
    height: 650px;
    width: 487px;
}

.left-column {
    height: 650px;
    width: 1310px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 5px;
}

.demo {
    opacity: 0.6;
}

.active, .demo:hover {
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    top: 44%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 10;
}

.next {
    left: 444.75px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
    display: none;
    height: 650px;
}

.cursor {
    cursor: pointer;
}
