body {
    margin: 0;
    padding: 0;
    background-image: url(https://yogurtsmootie.github.io/html/img/bg7.jpg);
}

* {
    box-sizing: border-box;
}

img {
    vertical-align: middle;
}

.container {
    display: flex;
    margin: 0;
    padding: 0;
    width: 1800px;
    height: 653px;
}
.right-column {
    float: left;
    width: 489.75px;
}
.left-column {
    float: left;
    width: 1308px;
    margin: auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    display: flex;
}

.column {
    flex: 1;
    padding: 5px;   
}

.column > img {
    border-radius: 20px;
    outline: 2px solid #e7d241; 
}

.column > img:hover {
  transform: scale(1.08);
}

.demo {
    opacity: 0.7;
}

.active, .demo:hover {
    opacity: 1;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    top: 44%;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    align-items: center; /* 수직 중앙 정렬 */
    z-index: 10;
}

.next {
    left: 448px;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.mySlides {
    display: none;
    height: 653px;
}

.cursor {
    cursor: pointer;
}
