@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Ownglyph_ryuttung-Rg';
    font-size: 25px;
    color: rgb(02, 07, 15);
    background-image: url(https://yogurtsmootie.github.io/html/img/bg4.jpg);
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
}

img {
    width: 500px;
}
.left {
    float: left;
    margin-right: 50px;
}
.container {
    float: right;
    text-align: center;
}
.up, .down {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.box, .hd {
    line-height: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
}
hr {
    border: none;
    border-top: 3px solid salmon;
    width: 100%;
    margin: 10px 0;
}

/*마우스 오버*/
#y19, #y20, #y22, #y23, #y24 { 
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid salmon;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h19, .h20, .h22, .h23, .h24 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#y19:hover .h19 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y20:hover .h20 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y22:hover .h22 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y23:hover .h23 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y24:hover .h24 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
