@font-face {
    font-family: 'Ownglyph_ryurue-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cafe24Syongsyong';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 1800px;
    margin: 0;
    padding: 0;
    background-image: url(https://yogurtsmootie.github.io/html/img/bg4.jpg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 350px 300px;
    width: 95%;
    height: 653px;
}

a {
  text-decoration: none; /* 링크 밑줄 제거 */
  color: rgb(02, 07, 15);
}

.left {
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    grid-row: 1 / span 2;

}

/******* 상단 *******/
.top {
    grid-column: 2;
}

p {
    font-family: "Cafe24Syongsyong";
    font-weight: bolder;
    font-size: 65px;
    color: salmon;
    margin-top: 60px;
    margin-bottom: 20px;
}

.up, .down {
    font-family: 'Ownglyph_ryurue-Rg';
    font-size: 25px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.box, .hd {
    line-height: 50px;
    width: 200px;
    height: 50px;
    text-align: center;
}
hr {
    border: none;
    border-top: 3px solid salmon;
    width: 100%;
    margin: 10px 0;
}

/******* 하단 *******/
.bottom {
    font-family: 'Cafe24Syongsyong';
    padding-top: 20px;
    grid-column: 2;
    font-size: 23px;
}

.name {
    font-weight: bolder;
    font-size: 60px;
    color: salmon;
}

span {
    color: #f8f8f8;
    font-size: 40px;
    margin-left: 10px;}

dl {
    font-family: 'Ownglyph_ryurue-Rg';
    color: #fff;
    font-size: 100%;
    width: 100%;
    line-height: 1.4;
    margin-top: 10px;
}

dt {
    padding-top: 7px;
    line-height: 1.4;
    float: left;
    width: 5%;
    color: #888;
    font-size: 1em;
}

dd {
    line-height: 1.4;
    float: left;
    width: 40%;
    color: #fff;
    font-size: 1.5em;
}

/*마우스 오버*/
#y19, #y20, #y22, #y23, #y24 { 
    padding: 10px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: 3px solid salmon;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.h19, .h20, .h22, .h23, .h24 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
#y19:hover .h19 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y20:hover .h20 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y22:hover .h22 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y23:hover .h23 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
#y24:hover .h24 {
    opacity: 1;
    width: 220px;
    height: 293px;
    z-index: 2;
}
