/* 폰트 */
@font-face {
  font-family: "Ownglyph_ryurue-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryurue-Rg.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Cafe24Syongsyong";
  src: url("https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Syongsyong.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 전체 설정 */
body {
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100%;
  max-height: 1800px;
  margin: 0;
  padding: 0;
  background-image: url(https://yogurtsmootie.github.io/html/img/bg4.jpg);
  background-size: auto 770px;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: rgb(02, 07, 15);
}

/* 컨테이너 */
.container {
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-columns: 1fr 1fr; /* 두 개의 동일한 폭의 열 설정 */
  grid-template-rows: 58% 42%; /* 두 개의 행 설정 */
  width: 95%;
  height: 770px;
}

/* 좌측 */
.left {
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  grid-row: 1 / span 2; /* 행 병합 */
  grid-column: 1; /* 첫 번째 열에 위치 */
}

/* 우측 */
.right {
  display: grid; /* 그리드 레이아웃 사용 */
  grid-template-rows: 58% 42%; /* 두 개의 행 설정 */
  grid-column: 2; /* 두 번째 열에 위치 */
  grid-row: 1 / span 2; /* 두 행에 걸쳐서 위치 */
}

/* 우측 상단 */
.top {
  grid-row: 1; /* 첫 번째 행에 위치 */
  padding-top: 100px;
}

p {
  font-family: "Cafe24Syongsyong";
  font-weight: bolder;
  font-size: 65px;
  color: salmon;
  margin: 0;
}

.up, .down {
  font-family: "Ownglyph_ryurue-Rg";
  font-size: 25px;
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  justify-content: center; /* 수평 중앙 정렬 */
  margin: 15px 0;
}

.box, .hd {
  line-height: 50px; /* 행간 50px 설정 */
  width: 200px;
  height: 50px;
  text-align: center; /* 텍스트 중앙 정렬 */
}

hr {
  border: none;
  border-top: 3px solid salmon;
  width: 100%;
  margin: 10px 0;
}

/* 우측 하단 */
.bottom {
  grid-row: 2; /* 두 번째 행에 위치 */
  font-family: "Cafe24Syongsyong";
  font-size: 23px;
}

.name {
  font-weight: bolder;
  font-size: 60px;
  color: salmon;
}

span {
  color: #f8f8f8;
  font-size: 40px;
  margin-left: 10px;
}

dl {
  font-family: "Ownglyph_ryurue-Rg";
  color: #fff;
  line-height: 1.4; /* 행간 설정 */
  margin-top: 10px;
}

dt {
  padding-top: 7px;
  line-height: 1.4;
  float: left;
  width: 5%;
  color: #888;
  font-size: 1em;
}

dd {
  line-height: 1.4; /* 행간 설정 */
  float: left;
  width: 40%;
  color: #fff;
  font-size: 1.5em;
}


/* 마우스 오버 */
#y19, #y20, #y22, #y23, #y24 {
  padding: 10px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  border: 3px solid salmon;
  position: relative; /* 상대적 위치 설정 */
  display: flex; /* 플렉스 박스 레이아웃 사용 */
  align-items: center; /* 수직 중앙 정렬 */
  justify-content: center; /* 수평 중앙 정렬 */
}

.h19, .h20, .h22, .h23, .h24 {
  position: absolute; /* 절대적 위치 설정 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#y19:hover .h19, #y20:hover .h20, #y22:hover .h22, #y23:hover .h23, #y24:hover .h24 {
  opacity: 1;
  width: 220px;
  height: 293px;
  z-index: 10;
}
